* {
	font-family: Helvetica;
}

/* MACHINE STYLES */

.Box {
	width: 100%;
	text-align: center;
}

.Subbox {
	display: inline-flex;
	background-color: white;
	border-style: solid;
	margin: 3px;
	border-radius: 20px;
	text-align: center;
}

.Factor {
	font-size: 40px;
	font-style: bold;
}

.Result {
	background-color: black;
	color: white;
	width: 100%;
	border-style: solid;
	margin: 3px;
	border-radius: 20px;
	text-align: center;
}

.results {
	font-size: 16px;
}